
/*adjusts root elements of bootstrap for customization*/
:root {
    --blue: #000B7C;
    --purple: #60147D;
    --pinkish: #B400FF;
    --white: #ffffff;
}





/*change the size and spacing and padding for the video image in the homepage*/
.videoimg {
    width: 90%;
    border-radius: 2rem;
    height: 15rem;
    object-fit: cover;
    margin-bottom: 1.5rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
}


/*changes the size, spacing, padding for the main header image of Christian in the homepage*/
.christianimg {
    width: 90%;
    border-radius: 2rem;
    height: 17rem;
    object-fit: cover;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 7rem;
}

/*changes the size, spacing, padding for the photography image in the homepage*/
.photographyimg {
    width: 90%;
    border-radius: 2rem;
    height: 15rem;
    object-fit: cover;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
}

/*changes the size, spacing, padding for the animation image in the homepage*/
.animationimg {
    width: 90%;
    border-radius: 2rem;
    height: 15rem;
    object-fit: cover;
    margin-bottom: 1.5rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
}


/*make the body of all the pages linear gradient*/
.body {
    background: linear-gradient(#000B7C, #60147D);
}

/*changes the colour of the welcome text on the homepage*/
.text1 {
    color: var(--white);
}

/*changes the colour of the video text on the homepage*/
.text2 {
    color: var(--white);
}

/*changes the colour of the photography text on the homepage*/
.text3 {
    color: var(--white);
}

/*changes all heading 1 to a different font, colour, weight, size*/
h1 {
    color: var(--white);
    font-family: 'Urbanist', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 2.75rem;
}

/*changes all heading 2 colour to white*/
h2 {
    color: var(--white);
}


/*changes the width and spacing, alignment of the Aiden Creates logo in the footer*/
.logofooter {
    width: 15%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/*changes all p text to a different font, size, and weight*/
p {
    font-family: 'Urbanist', sans-serif;
    font-style: normal;
    font-weight: 500;
}


/*changes the size, spacing, and alignment of Aiden Creates logo in top header*/
.ACheaderlogo {
    width: 25%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/*makes the navbar a different gradient colour, and gives a bottom border to white*/
.navbar {
    background-image: linear-gradient(to right, #3A00FF, #B400FF);
    border-bottom: 6px solid var(--white);
}

/*makes the entire footer to a different gradient, padding, spacing, and border colour*/
.footer {
    background-image: linear-gradient(to right, #3A00FF, #B400FF);
    border-top: 6px solid var(--white);
    padding-top: 1.5rem;
    padding-bottom: 0.50rem;
    margin-top: 6rem;

}

/*makes the aidenfamili copyright in the footer a different font size, and spacing*/
.copyrighttext{
    font-size: 15px;
    margin-top: 0.5rem;
    padding-right: 2rem;
}

/*makes the learn more button in the video div on the homepage to a different colour, font, size, spacing, border style, margin, padding*/
.learn-button1 {
    color: var(--blue);
    font-family: 'Urbanist', sans-serif;
    font-size: 1.5rem;
    border-radius: 1rem;
    border: none;
    margin-bottom: 8rem;
    margin-top: 1.5rem;
    font-weight: bold;
    text-align: center;
    margin: auto;
    display: flex;
    padding-left: .5rem;
    padding-right: .5rem;
}

/*adds hover effect on the learn more video button so a different color appears in the border*/
.learn-button1:hover {
    background-color: var(--blue);
    color: var(--white);
    border: 1px solid var(--white);
}

/*makes the learn more button in the photography div on the homepage to a different colour, font, size, spacing, border style, margin, padding*/
.learn-button2 {
    color: var(--blue);
    font-family: 'Urbanist', sans-serif;
    font-size: 1.5rem;
    border-radius: 1rem;
    border: none;
    margin-bottom: 8rem;
    margin-top: 1.5rem;
    font-weight: bold;
    text-align: center;
    margin: auto;
    display: flex;
    padding-left: .5rem;
    padding-right: .5rem;
}

/*adds hover effect on the learn more photography button so a different color appears in the border*/
.learn-button2:hover {
    background-color: var(--blue);
    color: var(--white);
    border: 1px solid var(--white);
}

/*makes the learn more button in the animation div on the homepage to a different colour, font, size, spacing, border style, margin, padding*/
.learn-button3 {
    color: var(--blue);
    font-family: 'Urbanist', sans-serif;
    font-size: 1.5rem;
    border-radius: 1rem;
    border: none;
    margin-bottom: 8rem;
    margin-top: 1.5rem;
    font-weight: bold;
    text-align: center;
    margin: auto;
    display: flex;
    padding-left: .5rem;
    padding-right: .5rem;
}

/*adds hover effect on the learn more animation button so a different color appears in the border*/
.learn-button3:hover {
    background-color: var(--blue);
    color: var(--white);
    border: 1px solid var(--white);
}

/*makes the learn more button in the welcome div on the homepage to a different colour, font, size, spacing, border style, margin, padding*/
.learn-buttonfirst {
    color: var(--blue);
    font-family: 'Urbanist', sans-serif;
    font-size: 1.5rem;
    border-radius: 1rem;
    border: none;
    margin-bottom: 8rem;
    margin-top: 1.5rem;
    font-weight: bold;
    text-align: center;
    margin: auto;
    display: flex;
    padding-left: .5rem;
    padding-right: .5rem;
}

/*adds hover effect on the learn more welcome button so a different color appears in the border*/
.learn-buttonfirst:hover {
    background-color: var(--blue);
    color: var(--white);
    border: 1px solid var(--white);
}

/* aligns and increases the size of the welcome text in the homepage*/
.text1 {
    text-align: center;
    font-size: 16px;
}

/* aligns and increases the size of the video text in the homepage*/
.text2 {
    text-align: center;
    font-size: 16px;
}

/* aligns and increases the size of the photography text in the homepage*/
.text3 {
    text-align: center;
    font-size: 16px;
}

/* aligns and increases the size of the animation text in the homepage*/
.text4 {
    text-align: center;
    font-size: 16px;
    color: var(--white);
    margin-bottom: 1rem;
}

/*adds white colour, makes a pointer cursor effect, with padding and spacing for the search magnifying glass icon*/
.fa-search{
  color: var(--white);
  cursor: pointer;
  padding-right: 1rem;
float: right;
}

/*centers all h1*/
h1 {
    text-align: center;
}

/*gives padding to welcome header*/
.welcome {
    padding-top: 1rem;
}

/*changes the arrow icon in the footer with a white colour, float, and some margin and spacing*/
.fa-arrow-up {
    color: var(--white);
    float: left;
    margin-top: 2rem;
    margin-left: 1.25rem;
}

/*adds padding to the christian image in the homepage*/
.firstimg {
    padding-top: 2rem;
}

/*removes all underline text decoration for the buttons*/
.buttonfirst {
    text-decoration: none;
}




/*NAVIGATION****************************/

/*Navigation menu styling*/
.navigation {
    width: 100%;
    height: 100%;
    position: fixed;
    background-image:linear-gradient(to right, #3A00FF, #B400FF);
    overflow: hidden;
}

/*changes the colour, spacing, display, font, size, weight of the menu in the navigation when it's active*/
.menu a{
    display: block;
    padding: 30px;
    color: var(--blue);
    font-family: 'Urbanist', sans-serif;
    text-decoration: none;
    font-size: 40px;
    font-family: 'Urbanist', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 2.75rem;
}

/*changes it so when you hover on the nav links, they fill to white*/
.menu a:hover{
    color: var(--white);
}

/*sets the entire nav with a max height, and a transition effect*/
.navigation {
    max-height: 0;
    transition: max-height .5s ease-out;
}



/***************MENU ICON**************************/

/*displays the hamburger icon so it floats left, has padding, and makes a pointer cursor effect*/
.hamb{
    cursor: pointer;
    float: left;
    padding: 40px 20px;
}

/*************STYLE LABEL FOR NAVIGATION***********/

/*makes the lines of the hamburger icon white, adds height, spacing, and width*/
.hamb-line {
    background:var(--white);
    display: block;
    height: 2px;
    position: relative;
    width: 24px;
}

/*******STYLE SPAN CLASS*****/

.hamb-line::before,
.hamb-line::after {
    background:var(--white);
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;   
}

/*makes the top 5px of the hamburger lines before you click on it*/
.hamb-line::before {
    top: 5px;
}

/*removes 5px from the top of the hamburger lines after you click on it*/
.hamb-line::after {
    top: -5px;
}



/*removes intitial display from before, which was a checkbox*/
.side-menu {
    display: none;
}

/*Toggle menu navigation icon*/
.side-menu:checked ~ nav {
    max-height: 100%;
}

/*removes the background of the menu on the side and hamburger lines so it is transparent*/
.side-menu:checked ~ .hamb .hamb-line {
    background: transparent;
}

.side-menu:checked ~ .hamb .hamb-line::before {
    transform: rotate(-45deg);
    top: 0;
}

.side-menu:checked ~ .hamb .hamb-line::after {
    transform: rotate(45deg);
    top: 0;
}

/*removes bullet points from the list items in the navigation*/
ul {
list-style-type: none;
}

/*changes the font on the navigation list items*/
.navigation {
    font-family: 'Urbanist', sans-serif;
}

/*aligns the text of the navigation list items so the centre*/
.menu {
    text-align: center;
}








/*adds padding, and size to the about header in the about page*/
.about {
    padding-top: 10rem;
    padding-bottom: 6rem;
    font-size: 4rem;
}

/*makes Aiden profile picture a circle form with border radius, changes size, adds padding, height, and margin*/
.aidenpfp {
    width: 90%;
    border-radius: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-left: 2rem;
    padding-right: 2rem;

}

.aidenpfp2 {
    width: 90%;
    border-radius: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-left: 2rem;
    padding-right: 2rem;

}

/*makes the first paragraph of the about page white, centers the text, increases font size and adds some padding*/
.abouttext1 {
    color: var(--white);
    text-align: center;
    font-size: 1.25rem;
    padding: 0.75rem;
}

/*increases size and padding of Aiden header in about page*/
.aidenheading {
    font-size: 3rem;
    padding: 2rem;
}

/*makes the second paragraph in the about page whtie, centre, and increases size and padding*/
.aidenabouttext {
    color: var(--white);
    text-align: center;
    font-size: 1.25rem;
    padding: 0.75rem;
}

/*makes the car image smaller, taller, adds margin and spacing, rounded borders*/
.carimg {
    width: 90%;
    border-radius: 2rem;
    height: 15rem;
    object-fit: cover;
    margin-bottom: 1.5rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 6rem;
}

/*makes the photography paragraph in the about page white, centre, and increases size and padding*/
.photographyabouttext {
    color: var(--white);
    text-align: center;
    font-size: 1.25rem;
    padding: 0.75rem;
    padding-bottom: 6rem;
}

/*increases font size and padding for contact us header in contact page*/
.contactusheader {
    padding-top: 10rem;
    padding-bottom: 4rem;
    font-size: 3.5rem;
}

/*makes the submit button white, blue text, different font, no border, alignment, spacing, float, margin, padding to decorate button in contat page*/
button[type="submit"] {
    background-color: var(--white);
    color: var(--blue);
    font-family: 'Urbanist', sans-serif;
    font-size: 1.5rem;
    border-radius: 1rem;
    border: none;
    margin-bottom: 8rem;
    margin-top: 1.5rem;
    font-weight: bold;
    text-align: center;
    margin: auto;
    display: flex;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    float: right;
    margin-right: 1.5rem;
}

/*when you hover over submit button, the background colour changes, adds stroke colour, and colour of text*/
button[type="submit"]:hover {
    background-color: var(--blue);
    color: var(--white);
    border: 1px solid var(--white);
}

/*makes all h3 in html pages white, different font, weight, size, and alignment*/
h3 {
    color: var(--white);
    font-family: 'Urbanist', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 1.5rem;
    text-align: center;
}

/*adds padding to first social media text in contact page*/
.social1 {
    padding-top: 1rem;
    padding-bottom: 0.75rem;
}

/*adds padding to second social media text in contact page*/
.social2 {
    padding-bottom: 0.75rem;
}

/*adds padding to third social media text in contact page*/
.social3 {
    padding-bottom: 0.75rem;

}

/*centres the forms in the contact form, adds padding, and flex in contact page*/
form {
    display: flex;
    flex-direction: column;
    padding-bottom: 2rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

/*decorates the labels within the contact form so the font is different, colour, padding, size, weight, spacing and display*/
label {
    display: block;
    font-family: 'Urbanist', sans-serif;
    margin-bottom: 0.75rem;
    color: var(--white);
    font-size: 1.5rem;
    font-weight: bold;
    padding-left: 1rem;
    padding-top: 1rem;
}

/*makes all the input a different font, padding, border, width, spacing, weight, size*/
input[type="text"], input[type="email"], textarea {
    padding: 0.75rem;
    border-radius: 2rem;
    border: none;
    margin-bottom: 1rem;
    width: 100%;
    max-width: 650px;
    font-family: 'Urbanist', sans-serif;
    font-weight: bold;
    font-size: 1.25rem;
}

/*makes textbox of message input a different height*/
textarea {
    height: 300px;
}


/****************DESKTOP MEDIA QUERIES***************************/
/****************MEDIA QUERY FOR NAV BAR DESKTOP*****************/
/*makes the navigation a different max height, position, size, colour, and adds a bottom border colour in desktop mode*/
@media (min-width: 1280px) {
    .navigation {
        max-height: 6rem;
        top: 0;
        position: relative;
        width: 100%;
        background-color: transparent;
        color: var(--white);
        border-bottom: 6px solid var(--white);
    }
    /*flpat all list items in menu to left*/
    .menu li {
        float: left;
    }

    /*float the whole menu to the right*/
    .menu {
        float: right;
    }

    /*when you hover over list items in menu, it is white*/
    .menu a:hover {
        background-color: transparent;
        color: var(--white);
    }

    /*changes it so that there is no stroke colour in active navigation list items*/
    .menu a {
        color: var(--white);
        font-size: 2rem;
    }

    /*removes hamburger icon in navigation*/
    .hamb {
        display: none;
    }

    /*reduces the size of the Aiden Creates logo in the header, adds margin, and padding*/
    .ACheaderlogo {
        width: 8%;
        margin-left: 0%;
        padding-left: 1rem;
    }

    /*removes white border from bottom of navigation bar*/
    .navbar {
        border-bottom: none;
    }

    /*reduces the size of the Aiden Creates logo in the footer and adds margin*/
    .logofooter {
        width: 5%;
        margin-left: 35%;
    }

    /*makes the welcome header to float to left, and adds padding everywhere*/
    .welcome {
        float: left;
        padding-left: 5rem;
        padding-top: 2rem;
        padding-right: 5rem;
    }

    /*makes the chrisitan image in the homepage a different size, border, height, and margin overall*/
    .christianimg {
    width: 90%;
    border-radius: 2rem;
    height: 28rem;
    object-fit: cover;
    display: block;
    margin-left: auto;
    margin-right: 5rem;
    margin-top: 7rem;
    }

    /*makes the welcome text in the homepage float left, adds padding, removes the centering of the alignment*/
    .text1 {
        float: left;
        text-align: start;
        padding-left: 5rem;
        font-size: 25px;
        padding-right: 5rem;
    }

    /*makes the see more buttong float left, and adds margin everywhere*/
    .learn-buttonfirst {
        float: left;
        margin-left: 45%;
        margin-top: 1rem;
        margin-bottom: 10rem;
    }

    /*makes the video image in the homepage a different height, and adjusts it to the left, adding margin and width to it as well*/
    .videoimg {
        height: 20rem;
        float: left;
        margin-top: 5rem;
        width: 40%;
        margin-left: 5rem;

    }

    /*makes the video header in the homepage adjust to the left, adds padding*/
    .videoheader {
        float: left;
        padding-right: 70%;
        padding-left: 20%;
    }

    /*makes the video paragraph text adjust to left, changes size, and adds padding*/
   .text2 {
    float: left;
    font-size: 25px;
    padding-left: 5rem;
    padding-right: 60%;
   }

   /*makes the video learn more button adjust to left and adds margin*/
   .learn-button1 {
    float: left;
    margin-left: 20%;
   }


   .videosection {
    float: left;
   }

   /*makes the photography image in the homepage change size and adjust to the right whilst adding marin and width*/
   .photographyimg {
    height: 20rem;
    float: right;
    margin-top: 5rem;
    width: 40%;
    margin-left: 5rem;
   }

   /*makes the photography header in the homepage adjust to the right*/
   .photographyheader {
    float: right;
    padding-left: 80%;
   }

   /*makes the photography paragraph text adjust its size, position, and padding*/
   .text3 {
    float: right;
    font-size: 25px;
    padding-left: 60%;  
    }

    /*makes the photography learn more button adjust to the right*/
   .learn-button2 {
    float: right;
   }

   /*adjusts the animation image in the homepage so i scales down, adjusts to centre, adds margin, and height*/
   .animationimg {
    height: 20rem;
    margin-top: 10rem;
    width: 40%;
    margin-left: 30%;
    display: block;
    margin-right: auto;
   }

   /*increases font size for animation paragraph and adds padding*/
   .text4 {
    font-size: 25px;
    padding-right: 25%;
    padding-left: 25%;  
    }

    /*adds margin to entire animation section*/
    .animationdiv {
        margin-top: 10rem;
    }

    /*increases font size and adds padding to about main text in about page*/
    .abouttext1 {
        font-size: 2rem;
        padding-bottom: 10rem;
    }


    /*makes the aiden profile picture smaller in width, float, and adds padding so it goes to left of about page*/
    .aidenpfp {
        width: 35%;
        float: left;
        padding-bottom: 1rem;
    }


    /*makes the aiden profile picture smaller in width, float, and adds padding so it goes to left of contact page*/
    .aidenpfp2  {
        width: 35%;
        float: left;
        padding-bottom: 1rem;
    }

    /*makes the aiden about text in the about page start aligned, increases font size and adds padding*/
    .aidenabouttext {
        text-align: start;
        font-size: 1.5rem;
        padding-bottom: 5rem;
    }


    /*makes the aiden heading in the contact page aligned for text start*/
    .aidenheading {
        text-align: start;
    }


    /*makes the car image in the about page smaller, and adds margin, and makes adjusts it to the left*/
    .carimg {
        width: 45%;
        height: 25rem;
        margin-left: 2rem;
        margin-right: 20rem;
        margin-top: 12rem;
        float: left;
    }

    /*increases the font size and adds padding to photography about text*/
    .photographyabouttext {
        font-size: 1.5rem;
        text-align: start;
        padding-top: 15rem;
        padding-right: 2rem;
    }




    /*decreases the width and adds margin to aiden profile picture in contact page*/
    .aidenpfp2 {
        width: 28%;
        margin-left: 4rem;
    }


    /*increases the width of the message textbox in the contact page*/
    textarea {
        max-width: 98%;
    }



    /*adds padding to aiden heading in contact page to align properly*/
    .aidenheading {
        padding-left: 40%;
    }


    /*makes all h3 start align text, and adds padding to align with aiden heading in contact page*/
    h3 {
        text-align: start;
        padding-left: 40%;
    }

    /*adds bottom padding to create space between aiden socials and the footer in contact page*/
    .allsocials {
        padding-bottom: 5rem;
    }

   }


