.videoimg {
    width: 50%;
}

.photographyimg {
    width: 50%;
}

.animationimg {
    width: 25%;
}

.body {
    background: linear-gradient(#000B7C, #60147D);
}

.text1 {
    color: white;
}

.text2 {
    color: white;
}

.text3 {
    color: white;
}

h1 {
    color: white;
}

h2 {
    color: white;
}

.logofooter {
    width: 5%;
}