.videoimg {
    width: 50%;
}

.photographyimg {
    width: 50%;
}

.animationimg {
    width: 25%;
}

.body {
    background: linear-gradient(#000B7C, #60147D);
}

.text1 {
    color: white;
}

.text2 {
    color: white;
}

.text3 {
    color: white;
}

h1 {
    color: white;
    font-family: 'Urbanist', sans-serif;
    font-style: normal;
    font-weight: 700;
}

h2 {
    color: white;
}

.logofooter {
    width: 5%;
}

p {
    font-family: 'Urbanist', sans-serif;
    font-style: normal;
    font-weight: 500;
}

.ACheaderlogo {
    width: 25%;
    margin-left: 11rem;
}

.navbar {
    background-image: linear-gradient(to right, #3A00FF, #B400FF);
    border-bottom: 6px solid white;
}

.footer {
    background-image: linear-gradient(to right, #3A00FF, #B400FF);
    border-top: 6px solid white;
}